@page "/avatar"

<PageTitle>Avatar</PageTitle>

<FluentLayout>
    <FluentHeader>
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <CircleImage Source="DM.png" />
            Avatar Demo
        </FluentStack>
    </FluentHeader>
    <br />
    <p>
        The image/photo you see in the site header and in this page header was created using the
        <span style="font-weight:bold">CircleImage</span> component. 
        <br />
        <br />
        The image source for the site header was the url for my 
        <span style="font-weight:bold;color:-webkit-link">
            <a href="https://github.com/marqdouj/" target="_blank">GitHub Repository</a>
        </span>
        <br />
        <br />
        The image source for this page header was for the same image placed in the <span style="font-weight:bold">wwwroot</span> folder
    </p>
</FluentLayout>

@code {

}
